<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops where give_for != '自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya_give_for.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないもののゴーヤの情報を載せたページに飛びます<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select * from crops where quality = 'f';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　品質：#{record["quality"]}" %>
    <% end %>
    <form action="goya_quality.cgi" method="POST">
       下記のボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページに飛びます<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
